form.form-control {
    display: table;
}

div.form-control {
    display: table-row;
}

label, input,select {
    display: table-cell;
    margin-bottom: 10px;
    text-align: left;
}

label {
    padding-right: 50px;
}
