.header img {
    float: left;
    /* width: 30%; */
    height: 100px;
  }
  
  .header h1 {
    position: relative;
    top: 30px;
    margin-left:  600px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #555; */
  }

  .header a {
    position: relative;
    top: 0px;
    margin-left:  1100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header{
    background-color: rgb(241, 207, 144);
    height: 100px;
  }

   nav{
    background-color: rgb(252, 197, 149);
    height: 20%;
    text-align: center;
  } 

  nav#menu ul {
    padding: 0;
  }

  nav#menu ul li {
    display: inline;
    margin: 12px;
    font-size:20px;
    text-align: center;
  }

  .menu_List  {
    float:right;
  }